@page "/"
@inject HttpClient Http
@inject CartService CartService
@inject ToastService ToastService
@inject NavigationManager Navigation
@using PixelPortalen.Shared.Models;
@using PixelPortalen.Frontend.Services
@using PixelPortalen.Frontend.Components.Layout;

<div class="landing-container">
    <h1 class="title">Välkommen till</h1>
    <div class="image-container">
        <img src="images/PixelPortalenLogga.gif" alt="Your GIF" class="custom-gif" id="logo" />
    </div>

    <script>
        setTimeout(function() {
        var imageElement = document.getElementById('logo');

        imageElement.src = 'images/PixelPortalenLogga.png';
        }, 1000);
    </script>

    <p class="tagline">Där dina speläventyr börjar!</p> @* Kanske vettigast att ha deras tagline även om den är sämre? // linder *@
    @* <p class="tagline">Upptäck de mest episka spelen i pixelperfektion!</p> *@

    @if (products == null)
    {
        <p>Laddar produkter...</p>
    }
    else
    {
        <div class="row justify-content-center mx-xl-5">
            @foreach (var product in randomProducts)
            {
                <div id="@("detail" + product.Id)" style="cursor: pointer;"
                     class="product-card col-lg-2 col-md-11 col-sm-12 m-3 m-lg-2 m-xl-3"
                     @onclick="() => GoToProductDetail(product.Id)">

                    <div class="my-auto">
                        <img src="@product.ImagePath" alt="@product.Name" class="rounded" />
                    </div>
                    <h3 class="mt-3">@product.Name</h3>
                    <p>@product.Price.ToString("C2", new System.Globalization.CultureInfo("sv-SE"))</p>

                    <button id="@("Buy" + product.Id + "NowButton")" class="btn"
                            @onclick:stopPropagation @onclick="() => AddToCart(product)">
                        Köp nu
                    </button>
                </div>
            }
        </div>
    }

    <h2 class="title mt-5">Kommande events!</h2>
    <p class="fs-10 pp-card p-3 w-75 mx-auto">
        Den 9 maj är det releasefest på HardRock Cafe i Göteborg!<br />
        Alla är välkomna från 13:00!
    </p>
</div>

@code {
    private List<Product>? products;
    private List<Product> randomProducts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await Http.GetFromJsonAsync<List<Product>>("api/product");
            RandomProducts();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fel vid hämtning av produkter: {ex.Message}");
        }
    }
    private void AddToCart(Product product)
    {
        CartService.AddToCart(product);
        ToastService.ShowToast($"{product.Name} tillagt i kundvagnen!");
    }

    private void RandomProducts()
    {
        if (products?.Count > 0)
        {
            var rng = new Random();
            randomProducts = products
                .OrderBy(_ => rng.Next())
                .Take(5)
                .ToList();
        }
    }

    private void GoToProductDetail(int id)
    {
        Navigation.NavigateTo($"/products/{id}");
    }
}